:root{
    --myColor: rgb(7, 7, 54);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

 .nav{
    background-color: orange;
    position: -webkit-sticky;
    position: sticky;     
    top: 0;
    height: 50px;
    z-index: 5;
}

.nav__links{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 10px;    
}

.nav__item{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: justify;
    
}

.section{
    height: 100vh;
    
}
#section--1{
    background-image: url(/image/Browsers.png);
    background-size: cover;
    background-repeat: no-repeat;    
}
.appTitle{
    color: white;
    padding-bottom: 10px;
}

/*--------------------- Sample Projects-----------------*/
#section--2{
    background-color:black;
}
/*--------------------- Bank Sample -------------------*/
.sample--projects{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: white;
    padding: 7px 0px;
}

.bankTitle{
   display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   color: white;
   
   
}

#joeyBankPhoto{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#joeyBankPhoto:hover{
    width: 300px;
    height: 300px;
    transition: .9s;
    transition-delay: .2s;
    transition-duration: 3s;
   
}
.bank__btn1, .bank__btn2{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: var(--myColor);
    color: white;
}

.bank__btn1:hover, .bank__btn2:hover{
    transform: translateY(5px);
    background-color: chartreuse;
}




/*-------------------- Game Sample ---------------------*/

.gameTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
}

 #gamePhoto{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 } 
 
 #gamePhoto:hover{
    width: 300px;
    height: 300px;
    transition: .9s;
    transition-delay: .2s;
    transition-duration: 3s;
 }

.game__btn1, .game__btn2{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: var(--myColor);
    color: white;
}

.game__btn1:hover, .game__btn2:hover{
    transform: translateY(5px);
    background-color: chartreuse;
}

 /*------------------- Hotel Sample --------------------*/

 .hotelTitle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: white;
 }

 #hotelPhoto{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #hotelPhoto:hover{
    width: 300px;
    height: 300px;
    transition: .9s;
    transition-delay: .2s;
    transition-duration: 3s;
 }

 .hotel__btn1, .hotel__btn2{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: var(--myColor);
    color: white;
}

.hotel__btn1:hover, .hotel__btn2:hover{
    background-color: chartreuse;
    transform: translateY(5px);
}

 /*--------------------- School Sample -------------------*/

.schoolTitle{
    display: block;
    margin-left: auto;
    margin-left: auto;
    text-align: center;
    color: white;
}

#schoolPhoto{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#schoolPhoto:hover{
    width: 300px;
    height: 300px;
    transition: .9s;
    transition-delay: .2s;
    transition-duration: 3s;
}

.school__btn1, .school__btn2{
    margin-top: 10px;
    padding: 5px 15px;
    background-color: var(--myColor);
    color: white;

}

.school__btn1:hover, .school__btn2:hover{
    transform: translateY(5px);
    background-color: chartreuse;
}







/*------------------- Main Container -------------------*/
.main--container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.main--container > div{
    padding: 20px 40px;
    margin: 4px;
    border: 2px solid gray;
}

.sampleDIV:nth-child(1){
    background-color: red;
    flex: 1;
   
}

.sampleDIV:nth-child(2){
    background-color: blue;
    flex: 1;
    
}

.sampleDIV:nth-child(3){
    background-color: green;
    flex: 1;
}

.sampleDIV:nth-child(4){
    background-color:blueviolet;
    flex: 1;
}

/*------------------------- Skills -------------------*/
#section--3{
    background-color: chocolate;
}

.gallery-container{
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.gallery-container > div{
    flex-basis: 15%;  
    margin-bottom: 1rem;    
    background-color: #cecece;
    padding: 20px 40px;
}



#section--4{
    background-color: deeppink;
}

/*--------------------------- Footer ---------------------------*/

.section--footer{
    background-color: blue;
    
}

.sectionOne{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}



#joeyPhoto{
    height: 250px;
    border-radius: 50%;
    
}

.myIntro{    
    line-height: 2rem;
    position: absolute;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 22px;
    margin-top: 380px;
    color: rgb(71, 9, 141);
    
}

.section--footer{
    height: 100vh;
}